
  <div class="app-container">
    <header class="header">
      <div class="logo-section">
        <img [src] = "image" alt="Company" class="company-logo">
        <h1 class="company-name">Company Hub</h1>
      </div>
      <nav class="navigation">
        <a routerLink="/home" class="nav-link">Home</a>
        <a routerLink="/faq" class="nav-link">FAQ</a>
        <a routerLink="/job-portal" class="nav-link">Job Portal</a>
        <a routerLink="/leaderboard" class="nav-link">LeaderBoard</a>
        <a routerLink="/exhibition" class="nav-link">Exhibition</a>
   
        <ng-container *ngIf="!isLoggedIn; else profileLink">
          <a routerLink="/signin_signup" class="nav-link">Sign In/Sign Up</a>
        </ng-container>
        <ng-template #profileLink>
          <a routerLink="/dashboard" class="nav-link">Your Profile</a>
        </ng-template>
   
      </nav>
    </header>
   
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
   
    <footer class="footer">
      <p>&copy; Company Hub. All rights reserved.</p>
    </footer>
  </div>
   